@import './_fonts'
@import './_icons'
@import './_variables'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

body
    header
        .logo
            padding-top: 7vh
            padding-bottom: 7vh

        nav
            .collapse
                .navbar-nav
                    .color
                        button
                            height: 26px

        .shopEmp
            background-color: #f3f3f3

            .container
                .row
                    height: 55vh

                    .col-5
                        img
                            width: 450px

