@import './_fonts'
@import './_icons'
@import './_variables'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

body
    font-family: poppins
    position: relative

    header
        .fixed-top
            position: fixed
            top: 0

        nav
            height: 101px

            .collapse
                .navbar-nav
                    .color
                        button
                            height: 26px
                            width: 26px

        .beige
            background-color: #f3f3f3

            .container
                .row
                    .txt
                        img
                            width: 25vw

                    .shirt
                        img
                            margin-left: 5vw
                            width: 20vw

    #categories 
        .row
            .col-lg-4
                padding: 10px

                .living
                    background-image: url(../../public/img/services/service-1.jpg)

                .items
                    background-image: url(../../public/img/services/service-2.jpg)

                .clothes
                    background-image: url(../../public/img/services/slider-3.jpg)

                div
                    height: 18vh
                    background-repeat: no-repeat
                    background-position: center center

                    hr
                        height: 2px
                        width: 70%

    #recentProducts
        .container
            .row
                .col-lg-4
                    img
                        width: 100%

                    .txt
                        .row
                            .col-4
                                h5
                                    height: 70px
                                    width: 70px

                            .col-8
                                span
                                    text-decoration: line-through

    #thousands
        background-image: url(../../public/img/cta-bg.jpg)
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        height: 80vh
        max-width: 100vw

        .row
            height: 80vh

    #infos
        .row
            .col-lg-4
                padding: 20px

                .content
                    height: 40vh

    footer
        .bg-dark
            .container
                .row
                    .col-lg-4
                        ul
                            list-style: none

    #modal
        height: 100vh
        width: 100vw
        z-index: 20
        background-color: rgba(0, 0, 0, 0.5)
        position: fixed
        top: 0

        .container
            margin-top: 25vh
            border-radius: 20px

            .row
                .logIn
                    border-right: 2px solid #d4d4d4

                    .row
                        .col
                            height: 35px

                            i
                                display: none

                    form
                        height: 296px

                        button
                            max-width: max-content

                .signUp
                    .row
                        .col
                            height: 35px

                    form
                        button
                            max-width: max-content


@media (max-width: 991px)
    body
        header
            .beige
                .container
                    .row
                        .shirt
                            img
                                margin: auto
                                width: 80vw

        #recentProducts
            .container
                .row
                    .col-lg-4
                        &:last-child
                            margin: auto auto

        #modal
            .container
                margin-top: 12vh

                .row
                    .logIn
                        border-right: 0
                        border-bottom: 2px solid #d4d4d4

                        .row
                            .col
                                i
                                    display: block

                    .signUp
                        .row
                            .col
                                i
                                    display: none

@media (max-width: 425px)
    body
        #infos
            .row
                .col-lg-4
                    height: 60vh 

                    .content
                        height: 60vh

        #modal
            .container
                margin-top: 3vh